@import url('https://fonts.cdnfonts.com/css/montserrat');
             
body {
    font-family: "Montserrat";
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navigation-header .logo img{
    width: 150px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;       
}

.links li {
    margin: 0 20px;
}

.links li a {
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.banner-hero {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(image/primeirofundo.png);
}

.banner-hero .text {
    line-height: 1.5;
    text-align: left;
    text-indent: 20px;
}

.banner-hero .text h2 {
    color: white;
    font-weight: 700;
    
}

.banner-hero .text p {
    color: white;
}



button {
        background-color: blue;
        color: white;
        font-size: 16px;
        width: 300px;
        height: 50px;
        border-radius: 10%;
        border: none;
        cursor: pointer;
        
}

    header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.979);
        width: 100%;
        position: fixed;
            
    }